@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

body {
    font-family: 'Russo One', sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
    background-color: #EFEFEF;
    background-color: #e5e4e7;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

a{
    text-decoration: none;
}

/* nav bar */
nav {
    background-color: #57C1DD;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fffeff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 24px;
    height: 80px;
    width: 100%;
    position: fixed;

    z-index: 1;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 0px 0px 50px;
    pointer-events: none;
}

nav ul {
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 60px;
}


nav ul li a:link, 
nav ul li a:visited, 
nav ul li a:active,
nav ul li a:focus {
    color: white;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: black;
}


/* body-container */
.body-container {
    position: relative;
    top: 80px;
    margin-bottom: 80px;
}

/* about */
.about {
    background-position: center center;
    background-image: url("./img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}


.intro {
    font-size: 26px;
    margin-left: 50px;
    transform: translateY(-40px);
}


.intro i {
    font-size: 45px;
    margin-top: 35px;
    margin-right: 20px;
}

.intro a {
    color: white;    
    transition: color 0.2s;
}

.intro a:hover {
    color: #57C1DD;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 250px;
    height: 300px;
    border-radius: 20px;
    filter: drop-shadow(-8px 8px 5px rgba(0, 0, 0, 0.25));
    background-color: white;
    
    color: black;
    font-size: 22px;

    text-align: center;

    padding: 5px 0 5px 0;
}

.card img{
    max-width: 75%;
    border-radius: 10px;
}


.special-card{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    padding: 5px 0 5px 0;
    margin-right: 50px;
    color: red;
    font-size: 22px;
    transform: translateY(30px);
}

@keyframes shaking {
    0% {transform: rotate(-2deg);}
    50% {transform: rotate(2deg);}
    100% {transform: rotate(-2deg);}
}

.special-card-title{
    display: flex;
    flex-direction: column;

    animation-name: shaking;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.special-card:hover .special-card-title{
    animation-name: none;
}


.bubble {
    position: absolute;
    background: #2c2c2c;
    color:#ffffff;
    font-family: 'Harmattan';
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    width: 330px;
    height: 165px;
    border-radius: 17px;
    padding: 0px;

    pointer-events: none;
    opacity: 0;
    transform: translate(-330px,70px);
    transition: all 0.4s;
    z-index: 100;
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #2c2c2c;
    border-width: 11px 0 11px 17px;
    top: 50%;
    right: -16px;
    margin-top: -11px;
}

.special-card:hover .bubble{
    opacity: 1;
    transform: translate(-340px,70px);
}

.bubble .alert {
    color:#fffed6;
    font-size: 17px;
}

/* projects */

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-bottom: 15px;

    font-size: 42px;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-bottom: 80px;
}

.line {
    border-bottom: 1px black solid;
    width: 300px;
}

.title {
    margin: 0 150px 0 150px;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 120px;
    grid-row-gap: 60px;

    margin-top: 80px;
    margin-bottom: 40px;
}

.move-up{
    transform: translateY(-30px);
}

/* contact */
.contact-detail-container {
    font-size: 16px;
    font-weight:normal;

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 40px;

    margin-top: 60px;
}

.contact-detail-container i {
    font-size: 56px;
    margin-right: 45px;
}

.contact-detail-container div {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.contact-detail-container a {
    color: black;
}

/* footer */
footer{
    height: 80px;
    background-color: #57C1DD;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    position: absolute;
    right: 30px;
    font-size: 40px;
}

footer span a {
    margin-left: 20px;
    color: white;
}
